.exp1{
    font-size: 20px;
    margin-left: 12%;
    position: relative;
    color: blue;
    text-align: left;
    margin-top: 4%;
    margin-right: 12%;
}
.exp2{
    font-size: 15px;
    margin-left: 2%;
    position: absolute;
    color: black;
    text-align: left;
}

